<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Metas</title>
</head>
<body>
<container>
<main>
        <h1>Cadastro de Metas</h1>
        <h3>Metas:</h3>
   
    <form action="" method="post">
        <textarea name="texto" id="texto" cols="30" rows="10" required></textarea><br>
        <input type="submit" value="SALVAR">    
    </form>
    <h3>Listar Metas</h3>
    <table>
        <tr>
            <th>Texto</th>
        </tr>
        <% for(var n = 0; n<dados.length;n++){ %>
        <tr>
            <td><%=dados[n].texto%></td>
        </tr>
        <% } %>

    </table>
</main>
</container>
</body>
</html>